:root
{
    --BackGround-1 :#FFFFFF;
    --BackGround-2 :#f1f1f1;
    --BackGround-Box :#D9D9D9;
    --TextColor : #000000;
    --FooterColor :#626262;
}
/* Header */
#Header 
{
    background-color: var(--BackGround-1);
}
#Header .SearchBox 
{
    background-color: var(--BackGround-Box);
}
#Searchbox
{
    background-color: var(--BackGround-Box);
}
#Header .Account
{
    background-color: var(--BackGround-Box);
}
/* Baner */
#Baner
{
    background-color: var(--BackGround-1);
}
#Baner .Banerbox
{
    background-color: var(--BackGround-Box);
}
#Baner .Filterbox
{
    background-color: var(--BackGround-Box);
}
#Province , #City 
{
    background-color: var(--BackGround-1);
}
/* Groups */
#Groups
{
    background-color: var(--BackGround-1);
}
#Groups .gb
{
    background-color: var(--BackGround-Box);
}
/* TopJob */
#TopJob
{
    background-color: var(--BackGround-1);
}
#TopJob .Job_Viwe
{
    background-color: var(--BackGround-Box);
}
#TopJob .Arrow_Box
{
    background-color: var(--BackGround-Box);
}
/* Weblog */
#Weblog
{
    background-color: var(--BackGround-2);
}
#Weblog .WebLog_Box_Left
{
    background-color: var(--BackGround-Box);
}
#Weblog .WebLog_Box_Right
{
    background-color: var(--BackGround-Box);
}
#Weblog .Arrow_Box
{
    background-color: var(--BackGround-Box);
}
/* About Us */
#AboutUs
{
    background-color: var(--BackGround-2);
}
#AboutUs .About_Us
{
    background-color: var(--BackGround-Box);
}
/* Footer */
#Footer
{
    background-color: var(--FooterColor);
}
#Footer h2 , #Footer h3
{
    color: var(--BackGround-2);
}
#Footer .Certificate_Box
{
    background-color: var(--BackGround-Box);
}
#Footer .line
{
    border-color:var(--BackGround-Box);
}
