.Content_Padding{
    padding-left: 5%;
    padding-right: 5%;
}
/* Header */
#Searchbox
{
    text-align: right;
    position: absolute;
    border: none !important;
    outline: none;
}
#Header ul
{
    list-style: none;
}
#Header li 
{
    display: inline-block;
}
#Header .Account
{
    text-align: center;
}
/* Baner */
#Baner .Filterbox
{
    position: absolute;
}
.Filterbox h2
{
    text-align: right;
}
#Province , #City 
{
    position: absolute;
    text-align: center;
}
#Province 
{
    text-align: center;
}
#Province option , #City option
{
    text-align: center;
}
/* Groups */
.gb h3
{
    text-align: center;
}
/* TopJob */
#TopJob h2
{
    text-align: right;
}
#TopJob .Arrow_Box
{
    position: absolute;
}
/* Weblog */
#Weblog
{
    position: relative;
}
#Weblog h2
{
    text-align: right;
}
#Weblog .Arrow_Left
{
    position: absolute;
}

/* About Us */
#AboutUs .About_Us
{
    position: absolute;
}
#AboutUs .About_Us p
{
    font-weight: bold;
    text-align: center;
}
/* Footer */

#Footer h2
{
    text-align: right;
}

#Footer .Link div
{
direction: rtl;
}