body{
    padding-left: 5%;
    padding-right: 5%;
}
/* Header */
#Header 
{
    width: 100%;
    height: 150px; 
}
#Header .Logo 
{
    margin-left: 120px;
    margin-top: 40px;
}
#Header .SearchBox 
{
    width: 400px;
    height: 60px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 25px;
}
#Searchbox
{
   text-align: right;
   position: absolute;
   width: 350px;
   height: 50px;
   margin-top: 5px;
   border-radius: 25px;
   border: none !important;
   outline: none;
   padding-right: 20px;
   font-size: 20px;
}
#Searchbtn
{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    font-size: 40px;
    padding-top: 10px;
}
#Header ul
{
    margin-left: 100px;
    list-style: none;
}
#Header li 
{
    margin-top: 28px;
    font-size: 40px;
    margin-left: 80px;
    display: inline-block;
}
#Header .Account
{
    width: 150px;
    height: 50px;
    margin-top: 40px;
    border-radius: 25px;
    margin-left: 250px;
    text-align: center;

}
/* Baner */
#Baner 
{
    width: 100%;
    height: 1100px;
}
#Baner .Banerbox
{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 50% 100% , 50% 80% , 0 80%);
    border-radius: 75px ;
}

#Baner .Banerbox img
{
    font-size: 50px;
    margin-top: 450px;
    margin-left: 950px;
}
#Baner .Banerbox .Left
{
    font-size: 50px;
    margin-top: 450px;
    margin-left: 100px;
}
#Baner .Banerbox .Right
{
    font-size: 50px;
    margin-top: 450px;
    margin-left: 950px;
}
#Baner .Filterbox
{
    width: 1060px;
    height: 150px;
    border-radius: 50px;
    position: absolute;
    margin-top: -150px;
}
.Filterbox h2
{
    text-align: center;
    margin-left: 750px;
    margin-top: 50px;
}
#Province , #City 
{
    position: absolute;
    width: 250px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
}
#Province 
{
    margin-top: -60px;
    margin-left: 500px;
}
#City
{
    margin-top: -60px;
    margin-left: 150px;
}
/* Groups */
#Groups
{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding-left: 100px;
}
#Groups .gb
{
    width: 275px;
    height: 275px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 125px;
}
.gb img
{
    margin-top: 80px;
    margin-left: 105px;
}
.gb h3
{
    margin-top: 10px;
    text-align: center;
}
/* TopJob */
#TopJob
{
    width: 100%;
    height: 1300px;
    margin-top: 75px;
    margin-bottom: 75px;
}
#TopJob h2
{
    text-align: right;
    font-size: 75px;
}
#TopJob .Job-Row
{
    margin-bottom: 75px;
   margin-left: 300px;
}
#TopJob .Job_Viwe
{
    width: 400px;
    height: 500px;
    border-radius: 50px;
    margin-left: 100px;
}
#TopJob .Job_Viwe_Left
{
    clip-path: polygon(0 0 , 100% 0, 100% 100% , 125px 100% , 125px 375px , 0 375px);
}
#TopJob .Job_Viwe_Center
{
    clip-path: polygon(0 0 , 100% 0, 100% 100% , 261px 100% , 261px 435px ,136px 435px , 136px 100% , 0 100% );
}
#TopJob .Job_Viwe_Right 
{
    clip-path: polygon(0 0 , 100% 0, 100% 375px ,275px 375px , 275px 100% , 0 100% );
}
#TopJob .Arrow_Box
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#TopJob .Arrow_Left
{
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
}
#TopJob .Arrow_Center
{
    position: absolute;
    margin-top: 450px;
    margin-left: 747px;
}
#TopJob .Arrow_Right
{
    position: absolute;
    margin-top: 400px;
    margin-left: 1400px;
}
#TopJob .Arrow_img_left
{
    margin-top: 17px;
    margin-left: 15px;
}
#TopJob .Arrow_img_Center
{
    margin-top: 25px;
    margin-left: 27px;
}
#TopJob .Arrow_img_Right
{
    margin-top: 17px;
    margin-left: 15px;
}
/* Weblog */
#Weblog
{
    width: 100%;
    height: 1350px;
    margin-top: 125px;
    margin-bottom: 75px;
}
/* About Us */
#AboutUs
{
    width: 100%;
    height: 700px;
    margin-top: 75px;
    margin-bottom: 75px;
}
/* Footer */
#Footer
{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}