.Content_Padding{
    padding-left: 5%;
    padding-right: 5%;
}
/* Header */
#Header 
{
    width: 100%;
    height: 150px; 
}
#Header .Logo 
{
    margin-left: 120px;
    margin-top: 40px;
}
#Header .SearchBox 
{
    width: 400px;
    height: 60px;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 25px;
}
#Searchbox
{
   text-align: right;
   position: absolute;
   width: 350px;
   height: 50px;
   margin-top: 5px;
   border-radius: 25px;
   border: none !important;
   outline: none;
   padding-right: 20px;
   font-size: 20px;
}
#Searchbtn
{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    font-size: 40px;
    padding-top: 10px;
}
#Header ul
{
    margin-left: 100px;
    list-style: none;
}
#Header li 
{
    margin-top: 28px;
    font-size: 40px;
    margin-left: 80px;
    display: inline-block;
}
#Header .Account
{
    width: 150px;
    height: 50px;
    margin-top: 40px;
    border-radius: 25px;
    margin-left: 250px;
    text-align: center;

}
/* Baner */
#Baner 
{
    width: 100%;
    height: 1100px;
}
#Baner .Banerbox
{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 50% 100% , 50% 80% , 0 80%);
    border-radius: 75px ;
}

#Baner .Banerbox img
{
    font-size: 50px;
    margin-top: 450px;
    margin-left: 950px;
}
#Baner .Banerbox .Left
{
    font-size: 50px;
    margin-top: 450px;
    margin-left: 100px;
}
#Baner .Banerbox .Right
{
    font-size: 50px;
    margin-top: 450px;
    margin-left: 950px;
}
#Baner .Filterbox
{
    width: 1060px;
    height: 150px;
    border-radius: 50px;
    position: absolute;
    margin-top: -150px;
}
.Filterbox h2
{
    text-align: center;
    margin-left: 750px;
    margin-top: 50px;
}
#Province , #City 
{
    position: absolute;
    width: 250px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
}
#Province 
{
    margin-top: -60px;
    margin-left: 500px;
}
#City
{
    margin-top: -60px;
    margin-left: 150px;
}
/* Groups */
#Groups
{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding-left: 100px;
}
#Groups .Groups_Row
{
    margin-left: 0px;
}
#Groups .gb
{
    width: 275px;
    height: 275px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
.gb img
{
    margin-top: 80px;
    margin-left: 100px;
}
.gb h3
{
    margin-top: 10px;
    text-align: center;
}
/* TopJob */
#TopJob
{
    width: 100%;
    height: 1300px;
    margin-top: 75px;
    margin-bottom: 75px;
}
#TopJob h2
{
    text-align: right;
    font-size: 75px;
}
#TopJob .Job-Row
{
    margin-bottom: 75px;
   margin-left: 300px;
}
#TopJob .Job_Viwe
{
    width: 400px;
    height: 500px;
    border-radius: 50px;
    margin-left: 100px;
}
#TopJob .Job_Viwe_Left
{
    clip-path: polygon(0 0 , 100% 0, 100% 100% , 125px 100% , 125px 375px , 0 375px);
}
#TopJob .Job_Viwe_Center
{
    clip-path: polygon(0 0 , 100% 0, 100% 100% , 261px 100% , 261px 435px ,136px 435px , 136px 100% , 0 100% );
}
#TopJob .Job_Viwe_Right 
{
    clip-path: polygon(0 0 , 100% 0, 100% 375px ,275px 375px , 275px 100% , 0 100% );
}
#TopJob .Arrow_Box
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#TopJob .Arrow_Left
{
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
}
#TopJob .Arrow_Center
{
    position: absolute;
    margin-top: 450px;
    margin-left: 747px;
}
#TopJob .Arrow_Right
{
    position: absolute;
    margin-top: 400px;
    margin-left: 1400px;
}
#TopJob .Arrow_img_left
{
    margin-top: 17px;
    margin-left: 15px;
}
#TopJob .Arrow_img_Center
{
    margin-top: 25px;
    margin-left: 27px;
}
#TopJob .Arrow_img_Right
{
    margin-top: 17px;
    margin-left: 15px;
}
/* Weblog */
#Weblog
{
    position: relative;
    margin-right: -100px !important;
    width: 100%;
    height: 1300px;
}
#Weblog h2
{
    text-align: right;
    font-size: 75px;
    padding-top: 175px;
}
#Weblog .WebLog_Box_Left
{
    width: 1600px;
    height: 700px;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 50px;
}
#Weblog .WebLog_Box_Right
{
    width: 600px;
    height: 700px;
    margin-top: 50px;
    border-radius: 50px;
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 150px 100% ,150px 525px , 0 525px , 0 100%);
}
#Weblog .Arrow_Box
{
    height: 130px;
    width: 130px;
    border-radius: 100%;
}
#Weblog .Arrow_Left
{
    position: absolute;
    margin-top: 600px;
    margin-left: 1650px;
}
#Weblog .Arrow_img_left
{
    margin-top: 30px;
    margin-left: 30px;
}
/* About Us */
#AboutUs
{
    width: 100%;
    height: 700px;
    padding-top: 75px;
}
#AboutUs .About_Us
{
    width: 2250px;
    height: 500px;
    border-radius: 50px;
    position: absolute;
    margin-left: -15px !important;
    padding-top: 125px;
    padding-left: 100px;
    padding-right: 100px;
}
#AboutUs .About_Us p
{
font-size: 30px;
font-weight: bold;
text-align: center;
}
/* Footer */
#Footer
{
    width: 100%;
    height: 650px;
}
#Footer h2
{
    text-align: right;
    font-size: 50px;
    padding-top: 50px;
}
#Footer .Certificate
{
    width: 700px;
    height: 350px;
}
#Footer .Certificate_Box
{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-left: 40px;
    margin-top: 25px;
}
#Footer .Link
{
    width: 1300px;
    height: 350px;
    margin-left: 200px;
}
#Footer .Link h3
{
    font-size: 30px;
    text-align: right;
    margin-top: 75px;
    margin-left: 500px;
}
#Footer .Link div
{
direction: rtl;
}
#Footer .a
{
    padding-right: 95px;
}
#Footer .Contact
{
    width: 1900px;
    height: 150px;
    margin-left: 300px;
}
#Footer .line
{
    width: 1900;
    height: 5px;
    border: 5px solid;
}
#Footer .SocialMedia_Box
{
    margin-top: 15px;
    margin-left: 1700px;
    margin-bottom: 15px;
}
#Footer .SocialMedia_img
{
    margin-left: 10px;
}
#Footer .Info_Box
{
    margin-top: 15px;
}
#Footer .Info_img
{
    margin-left: 800px;
}